body {
	font-family: sans-serif;
	margin:1rem;
}

footer {
	margin-top: 2rem;
	display:flex;
	justify-content: right;
}

#result {
	font-size: 3rem;
	font-weight: 700;
}

#feedback {
	font-style: italic;
}

#submit {
	float:right;
}

#purge {
	font-size:small;
}
